@font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Assistant/static/Assistant-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Assistant", sans-serif;
    font-style: oblique;
    font-weight: 700;
    src: url("../fonts/Assistant/static/Assistant-Bold.ttf") format("ttf");
}
.navigation {
    overflow: hidden;
    padding: 10px;
    background-color: #005399;
}
.footer_navigation {
    overflow: hidden;
    backdrop-filter: blur(3px);
}
.currentPage {
    /* background-color: black; */
    color: #D3D5D4;
}
.header {
    /* background-color: black; */
    color: #D3D5D4;
    padding: 10px;
    width: page;
    background-color: #005399;
    /* background-color: none; */
    border-color: #D3D5D4;
    border-radius: 5 px;
}
img {
    width: 100%;
    height: auto;
    padding: none;
    position: sticky;
}
a {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: #D3D5D4;
    outline:rgb(33, 152, 37);
    border-radius: 10px;
    margin: 20px;
}
a:hover {
    background-color: #444b65;
    color: #D3D5D4;
}
.sticky_image {
    background-image: url("../src/_DSC4740.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page_break {
    height: 600px;
    display: block;
}

.content {
    background-color: #D3D5D4;
}

.welcome_picture {
    color: #D3D5D4;
}

body {
    background-color: black;
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.footer {
    background-color: #713929;
    color: #D3D5D4;
    height: 200px;
    text-align: center;
}
.houseteam {
    background-color: black;
}
#page_spacer {
    width: 100%;
    height: 500px;
    top: 50%;
    bottom: 50%;
    color: #D3D5D4;
}
.houseteam_section {
    display: block;
    width: 100%;
    margin: 5px;
    background-color: #005399;
    opacity: 1;
    transition: opacity 1s; 
}

.houseteam_section.fade {
  opacity: 0;
}