.gra_tile {
    width: 80%;
    /* height: 400px; */
    margin: 10px 10%;
    padding: 30px;
    background-color: #005399;
    color: #D3D5D4;
    text-align: left;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
}
.gra_tile div {
    display: flex;
    width: 100%;
}
.gra_tile div img {
    max-width: 30%;
    height: auto;
    /* margin: 30px; */
}

.gra_tile div img:hover {
    opacity: 50%;
    transition-duration: .2s;
}
.gra_tile a {
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.gra_tile a:hover {
    background-color: None;
}

/* .gra_tile > * {
    margin: 30px 30px;
} */
.gra_tile h2 {
    text-align:center;
}
.gra_tile p {
    margin: 0 30px 0 10px;
}
