.header {
    color: white;
    /* padding: 10px; */
    width: page;
    background-color: #005399;
    border-color: #D3D5D4;
    border-radius: 5 px;
}
.header div {
    display: flex;
}
.header div div {
    height: 58px;
    width: 174px;
}
.header div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.header h1 {
    justify-content: left;
    align-items: center;
}