html, body {
    padding: 0px;
    margin: 0px;
    background-color: #005399;
}
#navigation {
    padding: 10px;
    background-color: #005399;
}
.currentPage {
    color: white;
}
.banner {
    background-color: #998DA0;
    color: #005399;
    text-align: center;
    text-size-adjust: auto;
    font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #D3D5D4;
  color:  #005399;
  display: block;
  padding: 5px;
  border-radius: 0;
  margin: 0;
}

.dropdown:hover .dropdown-content {display: block;}

.special_button {
    color: white;
}
img {
    display: block;
}
a {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: #D3D5D4;
    border-radius: 10px;
    margin: 20px;
}
#navigation a:hover {
    color: white;
    background-color: #203561;
}
button {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: #D3D5D4;
    border-radius: 10px;
    margin: 20px;
}
#navigation button:hover {
    color: white;
    background-color: #203561;
}
.in_nav {
    padding: 0;
    margin: 0;
}
.sticky_image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page_break {
    height: 600px;
    display: block;
}

.content {
    background-color: #D3D5D4;
}

.welcome_picture {
    color: #D3D5D4;
}

body {
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
#page_spacer {
    width: 100%;
    height: 500px;
    top: 50%;
    bottom: 50%;
    color: #D3D5D4;
}
.page_header {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px #203561;
    color: #D3D5D4;
}

li {
    text-align: left;
    width: 60%;
    margin: auto;
}

.houseteam_section img {
    border: 2px solid #D3D5D4; 
}