@font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Assistant/static/Assistant-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Assistant/static/Assistant-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Assistant/static/Assistant-Light.ttf") format("ttf");
}
.navigation {
    overflow: hidden;
    padding: 10px;
    background-color: #005399;
}
.footer_navigation {
    overflow: hidden;
    backdrop-filter: blur(3px);
}
.currentPage {
    /* background-color: black; */
    color: #D3D5D4;
}
.header {
    /* background-color: black; */
    color: white;
    padding: 10px;
    width: page;
    /* background-color: none; */
    border-color: aliceblue;
    border-radius: 5 px;
}
img {
    width: 100%;
    height: auto;
    padding: none;
    position: sticky;
}
a {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    outline:rgb(33, 152, 37);
}
a:hover {
    background-color: #444b65;
    color: #D3D5D4;
}
.sticky_image {
    background-image: url("../src/_DSC4740.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page_break {
    height: 600px;
    display: block;
}

.content {
    background-color: white;
}

.welcome_picture {
    color: white;
}

html {
    background-color: black;
    font-family: "Assistant";
    font-style: normal;
    font-weight: 400;
}
.text_body {
    font-family: "Assistant";
}
.footer {
    background-color: rgb(105, 67, 54);
    color: white;

}
.houseteam {
    background-color: black;
}
#page_spacer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    bottom: 50%;
    color: white;
}