
#navigation {
    padding: 10px;
    background-color: #005399;
}
.currentPage {
    color: white;
}
.header {
    color: white;
    padding: 10px;
    width: page;
    background-color: #005399;
    border-color: #D3D5D4;
    border-radius: 5 px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #D3D5D4;
  color:  #005399;
  display: block;
  padding: 5px;
  border-radius: 0;
  margin: 0;
}

.dropdown:hover .dropdown-content {display: block;}

.special_button {
    color: white;
}
img {
    display: block;
}
a {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: #D3D5D4;
    border-radius: 10px;
    margin: 20px;
}
#navigation a:hover {
    color: white;
    background-color: #203561;
}
button {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: #D3D5D4;
    border-radius: 10px;
    margin: 20px;
}
#navigation button:hover {
    color: white;
    background-color: #203561;
}
.in_nav {
    padding: 0;
    margin: 0;
}
.sticky_image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page_break {
    height: 600px;
    display: block;
}

.content {
    background-color: #D3D5D4;
}

.welcome_picture {
    color: #D3D5D4;
}

body {
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.footer {
    background-color: #713929;
    color: #D3D5D4;
    height: 200px;
    text-align: center;
}
.footer a:hover {
    color: white;
}
#page_spacer {
    width: 100%;
    height: 500px;
    top: 50%;
    bottom: 50%;
    color: #D3D5D4;
}
.houseteam_section {
    display: inline-block;
    width: 100%;
    margin: 5px;
    background-color: #005399;
    color: #D3D5D4;
    text-align: center;
    border-radius: 20px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.houseteam_section img {
    height: 80%;
    border-image: auto;
}
.houseteam_section a {
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.houseteam_section a:hover {
    background-color: None;
}

.houseteam_section img:hover {
    opacity: 50%;
    transition-duration: .2s;
}

.houseteam_section > * {
    margin: 30px 30px;
}
.housteam_section p {
    margin: 0 10px 0 10px;
}
.page_header {
    display: block;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px #203561;
    color: #D3D5D4;
}

li {
    text-align: left;
    width: 60%;
    margin: auto;
}

.houseteam_section img {
    border: 2px solid #D3D5D4; 
}