.navigation {
    overflow: hidden;
    padding: 10px;
    backdrop-filter: blur(3px);
}
.currentPage {
    /* background-color: black; */
    color: white;
}
.header {
    /* background-color: black; */
    color: white;
    padding: 10px;
    width: page;
    background-color: none;
}
img {
    width: 100%;
    height: auto;
    padding: none;
    position: sticky;
}
a {
    /* background-color: rgb(52, 240, 58); */
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    outline:rgb(33, 152, 37);
}
a:hover {
    background-color: #ddd;
    color: rgb(52, 240, 58);
}
.sticky_image {
    background-image: url("../src/_DSC4740.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page_break {
    height: 100%;
    display: block;
}

.content {
    background-color: white;
}

.welcome_picture {
    color: white;
}