.navigation {
    overflow: hidden;
    padding: 10px;
}
.currentPage {
    background-color: rgb(33, 152, 37);
    color: white;
}
img {
    width: 100%;
    height: auto;
    padding: none;
    position: sticky;
}
a {
    background-color: rgb(52, 240, 58);
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    outline:rgb(33, 152, 37);
}
a:hover {
    background-color: #ddd;
    color: rgb(52, 240, 58);
}
